#postsHeader{
  color: #005299;
  text-align: center;
  font-style: italic;
  font-family: Helvectica, Arial, sans-serif;
  font-weight: bold;
  background: white;
  padding: 100px 100px;
  width: 425px;
  margin: auto;

}
